.wrapper {
  width: 42rem;
  background-color: var(--gray-400);
  border-rounded: 8px;
  display: grid;
  grid-auto-flow: column;
  grid-column: 3;
  grid-template-columns: 1.25rem 1fr 1.5rem;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
}

.button {
  background-color: transparent;
  color: var(--gray-300);
  border: none;
  border-radius: 0.25rem;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
