.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 0;
  gap: 0.25rem;
  background-color: var(--gray-700);
}

.span {
  display: flex;
}

.to {
  color: var(--blue);
}

.do {
  color: var(--purple-dark);
}
