.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1rem - 7px);
}

.input {
  width: 36rem;
  background-color: var(--gray-500);
  padding: 1rem 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--gray-100);
}

.button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: var(--blue-dark);
  color: var(--gray-100);
  padding: 1rem 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  cursor: pointer;

  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  background: var(--blue);
}
